body {
    display: flex;
    flex-direction: column;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  background-image: linear-gradient(blue,violet, black);
    /* justify-content: center; */
}
h1{
    
    border: 2px black solid;
    text-align: center;
}
nav{
    color: black;
    background-color: coral;
    display:block;
    /* gap:10em; */
}
nav a {
    color: #000;
}
.fave {
    background-color: aqua;
}
.notfave {
    background-color: gray;
}
img {
    height: 300px;
    width: 60%;
    border: 5px blue solid;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img:hover{
    cursor: pointer;
}