body {
    display: flex;
    flex-direction: column;
  align-items: center;
    /* justify-content: center; */
}
h1{
    font-size: larger;
    color:blue;
    border: 2px black solid;
}
nav{
    color: black;
    background-color: coral;
    display: flex;
    /* gap:10em; */
}
nav a {
    color: #000;
}
.fave {
    background-color: aqua;
}
.notfave {
    background-color: gray;
}
img {
    height: 20em;
    width: 50%;
    border: 5px blue solid;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img:hover{
    cursor: pointer;
}